<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{request.static_url('pyramidmre:static/css/main_en.css')}}">
        <title>Main</title>
    </head>
    <body>
        <p>Welcome</p>
    </body>
</html>
